@{
	Layout = "_Layout";
	ViewBag.ScriptBundle = "~/js/photos.min.js";
}

@model PhotoSite.Models.ModelBase;

<style id="dynamic-styles">
	.photo-thumbnail {
		height: 4rem;
		width: auto;
	}
</style>

<header class="site-header">
	<a class="sidebar-toggler" id="sidebar-toggler">☰</a>
	
	<a href="@Url.Action("Index", "Home")">Home</a>
</header>

<nav id="sidebar" class="sidebar">
	<ul class="sidebar-links">
		<li v-for="link in Sidebar">{{ link.Label }}</li>
	</ul>
</nav>

<section class="photo-date">
	<div class="photo-thumbnails">
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
		<img class="photo-thumbnail" src="~/yoda1.jpg" />
	</div>
</section>