@{
	Layout = "_Layout";
	ViewBag.ScriptBundle = "~/js/photos.min.js";
}

@model PhotoSite.Models.ModelBase;

<header class="site-header">
	<a class="sidebar-toggler" id="sidebar-toggler">☰</a>
	
	<a href="@Url.Action("Index", "Home")">Home</a>
</header>

<nav id="sidebar" class="sidebar">
	<ul class="sidebar-links">
		<li v-for="link in Sidebar">{{ link.Label }}</li>
	</ul>
</nav>

<section class="photo-date">
	<div class="photo-thumbnails" id="thumbnails">
		Loading...
	</div>
</section>

<footer class="footer">
	<button class="zoom-button" id="zoom-minus">-</button> Zoom <button class="zoom-button" id="zoom-plus">+</button>
</footer>

@section Scripts {
	<script>
		(function() {
			const _vm = @Html.Raw(@Model.VueModel), 
				_familyId = _vm.FamilyId;

			thumbnails.get(_familyId);
		})();
	</script>
}