@using PhotoSite.Models;

@{
    Layout = "_HomeLayout";
}

@model UserPrefs_Password_Model;

<div class="family">
<div class="family__header">Login</div>

<form class="family__form" asp-action="ChangePassword">
    @if (Model.Message != null) {
        <text>
            <p class="validation-message validation-message--@Model.MessageType">
                @Model.Message
            </p>
        </text>
    }

    <div class="input-group">
        <label for="current-password">Current Password</label>
        <input type="password" name="CurrentPassword" id="current-password" />
    </div>

    <div class="input-group">
        <label for="new-password">New Password</label>
        <input type="password" name="NewPassword" id="new-password" />
    </div>

    <div class="input-group">
        <label for="confirm-new-password">Confirm New Password</label>
        <input type="password" name="ConfirmNewPassword" id="confirm-new-password" />
    </div>

    <div class="button-row button-row--right">
        <a href="@Url.Action("Index", "Home")">
            <button type="button" class="button--gray right">Go Back</button>
        </a>
        <button type="submit" class="right">Change Password</button>
    </div>
</form>