@using PhotoSite.Models;

@{
    Layout = "_HomeLayout";
}

@model Home_Index_Model

<div class="families">
    @foreach (Home_Index_Family family in Model.Families) {
        <text>
            <div class="family">
                <div class="family__header">@family.Name</div>

                <div class="family__icons">
                    @foreach (Home_Index_App app in family.Apps) {
                        <text>
                            <a class="app-launcher" href="@app.Url">
                                <div class="app-launcher-icon">@app.Icon</div>
                                <div class="app-launcher-name">@app.Name</div>
                            </a>
                        </text>
                    }
                </div>
            </div>
        </text>
    }
</div>