:root {
    --header-height: 2.5rem;
    --footer-height: 2rem;
    --sidebar-width: 17rem;
    --sidebar-width-transition-time: 0.1s;
    --photo-gutter: 2px;
    --zoom-button-size: 2rem;
}

#mobile-detector {
    display: block;
    width: 0;
    height: 0;
}

.site-header {
    background: darkslategray;
    color: white;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.site-header a,
.site-header a:visited {
    cursor: pointer;
    display: flex;
    padding: 0 0.5rem;
    align-items: center;
    color: white;
    text-decoration: none;
}

.sidebar-toggler {
    font-size: 2rem;
}

.sidebar {
    background: whitesmoke;
    border-right: 1px solid lightgray;
    box-shadow: 0 0 2rem black; 
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    overflow-x: hidden;
    width: 0;
    transition: width var(--sidebar-width-transition-time) ease-in-out;
}

body.has-sidebar .sidebar{
    width: var(--sidebar-width);
    transition: width var(--sidebar-width-transition-time) ease-in-out;
    z-index: 1;
}

.photo-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: var(--header-height);
    margin-bottom: var(--footer-height);
}

.photo-thumbnails::after {
    content: "";
    flex: auto;
}

.photo-thumbnail {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 1;
    position: relative;
}

.photo-thumbnail::after {
    content: '';
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    z-index: -1;
}

.photo-thumbnail a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-decoration: none;
}

.photo-thumbnail .photo-thumbnail-select {
    position: absolute;
    display: none;
    height: 1.25rem;
    width: 1.25rem;
}

.photo-thumbnail-select:checked {
    display: unset;
}

.footer {
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
    background: whitesmoke;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.zoom-button {
    height: var(--zoom-button-size);
    width: var(--zoom-button-size);
    font-weight: bold;
    font-size: 1rem;
    margin: 0 0.5rem;
}

.photo-viewer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 0;
    right: 0;
    top: var(--header-height);
    bottom: 0;
}

.close-photo-viewer {
    right: 0;
    top: 0;
    font-size: 1.5rem;
}

.close-photo-viewer,
.photo-viewer-adjacent {
    position: absolute;
    width: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
    color: white;
    text-shadow: 0 0 5px black;
}

.close-photo-viewer:hover,
.photo-viewer-adjacent:hover {
    background: rgba(255, 255, 255, 0.3);
}

.photo-viewer-adjacent {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 2rem;
    top: 0;
    bottom: 0;
}

.photo-viewer-prev {
    left: 0;
}

.photo-viewer-next {
    right: 0;
}

@media screen and (min-width: 480px) {
    #mobile-detector {
        display: none;
    }

    body {
        padding-top: calc(var(--header-height) + var(--photo-gutter));
        padding-left: var(--photo-gutter);
        transition: padding-left var(--sidebar-width-transition-time) ease-in-out;
    }

    body.has-sidebar {
        padding-left: calc(var(--sidebar-width) + var(--photo-gutter));
        transition: padding-left var(--sidebar-width-transition-time) ease-in-out;
    }

    .sidebar {
        box-shadow: none;
    }

    body.has-sidebar .footer {
        left: var(--sidebar-width);
        transition: left var(--sidebar-width-transition-time) ease-in-out;
    }

    body.has-sidebar .photo-viewer {
        left: var(--sidebar-width);
        transition: left var(--sidebar-width-transition-time) ease-in-out;
    }

    .photo-thumbnails {
        margin-top: 0;
        margin-bottom: 0;
    }
    

    .photo-thumbnail:hover .photo-thumbnail-select {
        display: unset;
    }    
}