:root {
    --header-height: 2.5rem;
    --sidebar-width: 17rem;
    --sidebar-width-transition-time: 0.1s;
    --photo-gutter: 2px;
}

.site-header {
    background: darkslategray;
    color: white;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.site-header a,
.site-header a:visited {
    cursor: pointer;
    display: flex;
    padding: 0 0.5rem;
    align-items: center;
    color: white;
    text-decoration: none;
}

.sidebar-toggler {
    font-size: 2rem;
}


.sidebar {
    background: whitesmoke;
    border-right: 1px solid lightgray;
    box-shadow: 0 0 2rem black; 
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(100vh - var(--header-height));
    overflow-y: hidden;
    overflow-x: auto;
    width: 0;
    transition: width var(--sidebar-width-transition-time) ease-in-out;
}

body.has-sidebar .sidebar{
    width: var(--sidebar-width);
    transition: width var(--sidebar-width-transition-time) ease-in-out;
}

.photo-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-thumbnails::after {
    content: "";
    flex: auto;
}

.photo-thumbnail {
    margin-right: var(--photo-gutter);
    margin-bottom: var(--photo-gutter);
}

@media screen and (min-width: 480px) {
    body {
        padding-top: calc(var(--header-height) + var(--photo-gutter));
        padding-left: var(--photo-gutter);
        transition: padding-left var(--sidebar-width-transition-time) ease-in-out;
    }

    body.has-sidebar {
        padding-left: calc(var(--sidebar-width) + var(--photo-gutter));
        transition: padding-left var(--sidebar-width-transition-time) ease-in-out;
    }

    .sidebar {
        box-shadow: none;
    }
}