:root {
    --header-height: 2rem;
    --sidebar-width: 17rem;
}

.site-header {
    background: darkslategray;
    color: white;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.site-header a,
.site-header a:visited {
    color: white;
    text-decoration: none;
}

.sidebar {
    background: silver;
    box-shadow: 0 0 2rem black;
    width: var(--sidebar-width);
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(100vh - var(--header-height));
    display: none;
}

body.has-sidebar .sidebar{
    display: flex
}

@media screen and (min-width: 480px) {
    body {
        padding-top: var(--header-height);
    }

    body.has-sidebar {
        padding-left: var(--sidebar-width);
    }

    .sidebar {
        box-shadow: none;
    }
}